{% extends "index.html" %}

{% block title %}CREATE AN ACCOUNT{% endblock %}

{% block linkfiller %}
<div id="accountCreator">
  <h1>Create an account!</h1>
  <form action="/account/" method="POST">
    Username:
    <input type="text" name="username"><br>
    Password:
    <input type="text" name="password"><br>
    <input type="submit" value ="Create Account">
  </form>
</div>
{% endblock %}
}
