<!doctype html>
<html>
  <head>
    <title>BBS - {% block title %} {% endblock %} </title>
    <link rel ="stylesheet" type ="text/css" href="{{url_for('static',
    filename='style.css') }}"/>
    </head>
  <body> 
    <div id = "header">
      <div id = "logohold">
       <img src="{{ url_for('static', filename = 'websitelogo.png')}}"
        alt = "logo">
      </div>
      <div id = "menu">
        <ul id="menulist">
          <li><a href = "http://localhost:5000/home/">Home</a></li>
          <li><a href = "http://localhost:5000/login/">Account</a></li>
          <li><a href = "http://localhost:5000/submit/">Submit</a></li>
        </ul>
      </div>
    </div>
    <div id = "content">
      <div id = "dataholder">
        {% block linkfiller %} {% endblock %}
      </div>
    <div id = "sidebar">
      {% block sidebarfiller %} {% endblock %}
    </div>
  </body>
</html>
