{% extends "index.html" %}

{% block title %}LOGIN{% endblock %}

{% block linkfiller %}
  <div id="loginDiv">
    <h1>Log in!</h1>
    <form action ="/login/" method = "POST">
      Username:
      <input type="text" name ="username"><br>
      Password:
      <input type="text" name="password"><br>
      <input type="submit" value="Login">
    </form>
    <a href = "http://localhost:5000/account/">Not got an account? Create one.</a>
  </div>
{% endblock %}
}
