{% extends "index.html" %}

{% block title %}MY ACCOUNT {% endblock %}

{% block linkfiller %}
<div id="AccountInformation">
  <h1>{{username}}'s account. </h1>
  <h2> Your posts: </h2>
  {{page}}
</div>
{% endblock %}
{% block sidebarfiller %}
<form action ="/logout/">
  <input type="submit" value ="Log out">
</form>
{% endblock %}
}
