{% extends "index.html" %}

{% block title %}POST{% endblock %}

{% block linkfiller %}
<div id="postTitle">
  <h1> Submit a link </h1>
</div>
<form action = "/submit/" method="POST">
  Title:
  <input type="text" name ="title"><br>
  URL:
  <input type="text" name="url"><br>
  <input type="submit" value="Post">
 <!-- <h2>Title:</h2>
  <textarea titleEntryBox rows="2" cols="50">
  </textarea>
  <h2>Link:</h2>
  <textarea linkEntrybox rows="2" cols="50">
  </textarea>
  <br>
  <input type="submit" value="SUBMIT">-->
</form>
<h3> {{ name }}</h3>
{% endblock %}
}
