#body{
  padding: 0px;
}

#header{
  background-color: black;
  width: 100%;
  height: 113px;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  border-radius: 20px;
}

#header img{
  padding-left: 15px;
}

#menulist li{
  float:left;
  display:inline;
  font-family:helvetica;
  text-decoration: none;
  background-color: black;
  border-radius: 20px;
}

#menulist a{
  text-align:center;
  display:block;
  width: 150px;
  padding: 0px;
  color: white;

}

#menulist li:hover{
  background-color: #e5f2ff;
}

#content{
  display: flex;
  width:100%
  float:right;
  margin-left: auto;
}
#sidebar{
  border-radius: 20px;
  padding: 20px;
  height: 700px;
  float:right;
  width: 20%;
  background: #e5f2ff;
  margin: 5px;
}
#dataholder{
  border-radius: 25px;
  float: left;
  flex: 1;
  margin: 5px;
  background: #e5f2ff;
}
#dataholder #postTitle{
  padding-left: 30px;
  text-decoration: underline; 
}

#dataholder #pageNFtext{
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
}

#dataholder h2{
  margin-left: 30px;
}

#dataholder textarea{
  margin-bottom: 10px;
  margin-left: 30px;
}

#dataholder input[type=submit]{
  margin-left: 30px;
  }
  
.encapslink{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  background-color: #ffffb3;
}

.encapslink a{
  margin-left: 20px;
}
.encapslink p{
  margin-left: 20px;
}
